section#services
    .row
        .col-12.col-md-6.col-lg-4
            .d-block.text-center
                .service-container(data-aos="fade-right", data-aos-duration="1000")
                    .service-image
                        i.fa-solid.fa-comments
                    .service-text
                        p Bilingual Service
        .col-12.col-md-6.col-lg-4
            .d-block.text-center
                .service-container(data-aos="fade-center", data-aos-duration="1000")
                    .service-image
                        i.fa-solid.fa-wine-bottle
                    .service-text
                        p Cold Beverage
        .col-12.col-md-6.col-lg-4
            .d-block.text-center
                .service-container(data-aos="fade-left", data-aos-duration="1000")
                    .service-image
                        i.fa-solid.fa-baby
                    .service-text
                        p Baby Seats