#step-4.row
    .col-12
        .info.info-container
            #thanks-after
                .d-block
                    h3.text-center Your transportation service is confirmed with us
                    p.text-center Shortly You will receive your confirmation letter