$color1 = #2FAFD2
$color2 = #049CFF
$color3 = #024775
$color4 = #1397c7

$color-purple = #7a5c9d;
$color-blue-1 = #222d5e;
$color-blue-2 = #6494ce;
$color-yellow = #ffd637;
$color-gray = #6d6e70;

body
  background #fff
h1
  color #000
  font-size 40px
h2
  color #000
  font-size 36px
h3
  color #000
  font-size 30px
h4
  color #000
  font-size 28px
p
  color #000
  font-size 22px
