doctype html5
html
    head
        title TRANSPORTATION FOR LESS
        meta(charset="utf-8")
        // Favicons
        link(rel="icon" type="image/png" href="https://transportationforless.com/images/favicons/favicon-192x192.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="https://transportationforless.com/images/favicons/favicon-16x16.png")
        link(rel="apple-touch-icon" sizes="180x180" href="https://transportationforless.com/images/favicons/apple-touch-icon.png")
        link(href='https://fonts.googleapis.com/css?family=Rubik&display=swap', rel='stylesheet')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="x-dns-prefetch-control" content="on")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        meta(name="author" content="Mario Castro Gallegos")
        meta(name="description" itemprop="description" content="Arrival transportation Airport to your hotel low price private or shuttle")
        meta(name="keywords" itemprop="keywords" content="airport cabo, private transportation cabo")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://transportationforless.com/images/og.jpg")
        meta(property="og:description" content="Arrival transportation Airport to your hotel low price private or shuttle")
        meta(property="og:image" content="Transportation in Cabo - Transportation For Less")
        meta(property="og:locale" content="es_MX")
        // CSS
        link(rel="stylesheet" href="/css/vendors.min.css")
        link(rel="stylesheet" href="/css/main.css" media="screen")
        // JavaScript
        script(src="/scripts/popper-2.11.8.js")
        script(src="/scripts/vendors.js")
        script(src="/scripts/main.js")
    body#qr-page
        section#logo
            .container
                .row
                    .col-12.text-center
                        img(src='images/logo/transportation-for-less-rectangle.svg', width='100%', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="300")

        section#mobile-menu
            .container
                .row
                    .col-12.text-center
                        h2 Contact Menu
                        p Choose how you'd like to book your return
                .row
                    .col-12
                        a(href='https://wa.me/+526241085583?text=ContactFromQR', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="700")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/whatsapp.svg', height="30px")
                                | WhatsApp
                        a(href='mailto:transportationforless@gmail.com', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="800")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/email.svg', height="30px")
                                | Email
                        a(href='tel:+526241085583', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="700")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/call-us.svg', height="30px")
                                | Phone
                        a(href='https://transportationforless.com', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="900")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/booking.svg', height="30px")
                                | Booking Form
                        a(href='https://www.google.com/search?sca_esv=779396568935250a&rlz=1C1JJTC_esMX1092MX1092&sxsrf=ANbL-n5yJFYHIAZ3HgFx_rTj1JUhu-03SQ:1774486309821&si=AL3DRZEsmMGCryMMFSHJ3StBhOdZ2-6yYkXd_doETEE1OR-qORAMMxq4vw9-9gcEMIG9C96WCm6fA5Wzah85rXhbSiMSHyjdVpGDIp4Pz3j4BF4XGSphZ-7zL64BIEnulqRKS5aAEPk_n-78oEzn6Ft8vPyU8vOxEQ%3D%3D&q=Transportation+For+Less+Opiniones&sa=X&ved=2ahUKEwiBlp_RrLyTAxXsIkQIHYXyIlMQ0bkNegQIKxAH&biw=1749&bih=2032&dpr=1', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1000")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/instagram.svg', height="30px")
                                | Google
                        a(href='https://www.tripadvisor.com.mx/UserReviewEdit-g152516-d8681365-Transportation_For_Less-San_Jose_del_Cabo_Los_Cabos_Baja_California.html', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1000")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/tripadvisor.svg', height="30px")
                                | TripAdvisor
                        a(href='https://www.yelp.com/writeareview/biz/3c7zvPcPsnxW21hLJiNJ2w?return_url=%2Fbiz%2F3c7zvPcPsnxW21hLJiNJ2w&review_origin=biz-details-war-button', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1000")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/yelp.svg', height="30px")
                                | Yelp
                        a(href='https://www.facebook.com/caboairportrideforless', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1000")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/facebook.svg', height="30px")
                                | Facebook
                        a(href='https://www.instagram.com/transportationforless/', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1000")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/instagram.svg', height="30px")
                                | Instagram
                        a(href='https://www.tiktok.com/@transportationforless', data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1000")
                            .d-inline-flex.align-items-center.justify-content-center
                                img(src='images/icons/tiktok.svg', height="30px")
                                | Tiktok



    script.
        AOS.init();