doctype html5
html
    head
        title BOGAR TRANSPORTATION SERVICES
        // Meta Keywords
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        // Favicons
        link(rel="icon" type="image/png" href="https://bogartransportationservices.com/images/favicons/favicon-192x192.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="https://bogartransportationservices.com/images/favicons/favicon-16x16.png")
        link(rel="apple-touch-icon" sizes="180x180" href="https://bogartransportationservices.com/images/favicons/apple-touch-icon.png")
        // OG Title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="x-dns-prefetch-control" content="on")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        meta(name="author" content="Mario Castro Gallegos")
        meta(name="description" itemprop="description" content="Arrival transportation Airport to your hotel low price private or shuttle")
        meta(name="keywords" itemprop="keywords" content="airport cabo, private transportation cabo")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Shuttle Airport - BG Transfer Cabo")
        meta(property="og:site_name" content="Bogar Transportation Services")
        meta(property="og:url" content="https://bogartransportationservices.com/images/og.jpg")
        meta(property="og:description" content="Arrival transportation Airport to your hotel low price private or shuttle")
        meta(property="og:image" content="Transportation in Cabo - Bogar Transportation Services")
        meta(property="og:locale" content="es_MX")
        // CSS
        link(rel="stylesheet" href="/css/vendors.min.css")
        link(rel="stylesheet" href="/css/main.css" media="screen")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')

        // JavaScript
        script(src="/scripts/popper-2.11.8.js")
        script(src="/scripts/vendors.js")
        script(src="/scripts/main.js")
    body#qr-page
        section#mobile-back
            .container
                .row
                    .col-12.text-start
                        .d-inline-flex.align-items-center.justify-content-center
                            a.back-menu(href='index.html')
                                img(src='images/icons/arrow-back-double.svg', height="20px")
                                | Back to Menu

        .container
            include ../en/_reservations/mycabotransfers
    script.
        AOS.init();