section#footer
  .container
    .theme-page-footer-top.row
      .col-12.col-sm-12.col-md-4.footer-logo
        img(src='/images/logo/transportation-for-less.svg', width='80%')
      .col-12.col-sm-12.col-md-4
        .theme-component-feature-item
          .theme-component-feature-item-icon
            i.fa-solid.fa-location-pin
          .theme-component-feature-item-header Address
        p Calle Jose Maria Chavez between Francisco Fisher and Fernando Burgoin, El Zacatal, 23427 San José del Cabo, B.C.S.


      .col-12.col-sm-12.col-md-4
        .theme-component-feature-item
          .theme-component-feature-item-icon
            i.fa-solid.fa-phone
          .theme-component-feature-item-header Phones
        p +52 (624) 108 5583

    .row.theme-page-footer-bottom
      .col-12.col-md-6
        p
          a(href='/transportation-to-baja-point-the-westin-los-cabos-resort-villas/')
            span Transportation to
            |  Baja Point The Westin Los Cabos Resort Villas
        p
          a(href='/transportation-to-cabo-azul-resort/')
            span Transportation to
            |  Cabo Azul Resort
        p
          a(href='/transportation-to-dreams-los-cabos/')
            span Transportation to
            |  Dreams Los Cabos
        p
          a(href='/transportation-to-drift-san-jose-del-cabo/')
            span Transportation to
            |  Drift San Jose del Cabo
      .col-12.col-md-6
        p
          a(href='/transportation-to-el-dorado-residences/')
            span Transportation to
            |  El Dorado Residences
        p
          a(href='/transportation-to-hilton-resort-los-cabos/')
            span Transportation to
            |  Hilton Resort Los Cabos
        p
          a(href='/transportation-to-hyatt-ziva-los-cabos/')
            span Transportation to
            |  Hyatt Ziva Los Cabos
        p
          a(href='/transportation-to-the-westin-resort-and-spa/')
            span Transportation to
            |  The Westin Resort and Spa

      .col-12.text-end
        br
        a.theme-icon-social-facebook(href='https://www.facebook.com/caboairportrideforless' title='Facebook' target='_blank')
          i.fa-brands.fa-facebook-f
        a.theme-icon-social-instagram(href='https://www.instagram.com/transportationforless/' title='Instagram' target='_blank')
          i.fa-brands.fa-instagram

section#design
  .container
    .row
      .col-12.col-sm-12.col-md-8
        p © 2011 - 2026 Transportation For Less. All rights reserved
      .col-12.col-sm-12.col-md-4.design
        a(href="https://mariocastrogallegos.com")
          img(src="/images/logo/mcg-white.svg", height="16")
          | Diseño Web en Los Cabos
.whatsapp-circle
  a(href='https://wa.me/+526241085583?text=')
    i.fa-brands.fa-whatsapp