// Meta Keywords
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="x-dns-prefetch-control" content="on")
meta(name="author" content="Mario Castro Gallegos")
meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")  
meta(name="description" itemprop="description" content="transportation in cabo, cabo transportation, cabo transfers, Arrival transportation Airport to your hotel low price private or shuttle")
// Favicons  
link(rel='icon' type='image/png' href='/images/favicons/favicon-96x96.png' sizes='96x96')
link(rel='icon' type='image/svg+xml' href='/images/favicons/favicon.svg')
link(rel='shortcut icon' href='/images/favicons/favicon.ico')
link(rel='apple-touch-icon' sizes='180x180' href='/images/favicons/apple-touch-icon.png')
meta(name='apple-mobile-web-app-title' content='Transportation For Less')
// OG Title
meta(property="og:image:width" content="1024")
meta(property="og:image:height" content="536")
meta(property="og:title" content="Transportation For Less")
meta(property="og:description" content="The best transportation service in Cabo")
meta(property="og:url" content="https://transportationforless.netlify.app/")
meta(property="og:image" content="https://transportationforless.netlify.app/images/banners/transportation-for-less-01.jpg")
// CSS
link(rel="stylesheet" href="/css/vendors.min.css")
link(rel="stylesheet" href="/css/main.css" media="screen")
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
// JavaScript
script(src='https://www.paypal.com/sdk/js?client-id=ATHXtvsmWKQZM4kfvm1Z9_W2MUtobdnrJNhgXFGJmvQ-BPC7_fTpsqMP6fqLrJsFYIAoSdICRljPW5la&currency=USD')
script(src="/scripts/vendors.js")
script(src="/scripts/main.js")
// Google Tag Manager
