section#top-menu
    section#menu
        nav.navbar.navbar-expand-lg
            .container
                .navbar-brand(data-aos="fade-right", data-aos-anchor-placement="top-bottom", data-aos-delay="600")
                    a(href="/index.html")
                button.navbar-toggler.justify-content-end(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                        img(src='/images/icons/burger-menu-right.svg', height='30px')
                #navbarNav.collapse.navbar-collapse.justify-content-end
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="/about-us.html") About Us
                        li.nav-item
                            a.nav-link(href="/our-services.html") Our Services
                        li.nav-item
                            a.nav-link(href="/contact-us.html") Contact Us
                        li.nav-item
                            a.nav-link(href="/cabo-info.html") Cabo Info
                        li.nav-item
                            a.elementor-button(href="/index.html#mycabotransfers")
                                span.elementor-button-content-wrapper
                                    span.elementor-text BOOK NOW