section#menu-top-fixed
    nav.navbar.navbar-expand-lg
        .container
            .navbar-brand
                a.d-md-block(href="/index.html")
                  img(src="/images/logo/elite-cabo-transfers-white.png" alt="Elite Cabo Transfers" height="80")
            button.navbar-toggler.justify-content-end(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span
                    img(src='/images/icons/menu.svg', height='36px')
            #navbarNav.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/index.html") HOME
                    li.nav-item
                        a.elementor-button(href="/index.html#mycabotransfers")
                            span.elementor-button-content-wrapper
                                span.elementor-icon
                                    i.fa.fa-cart-shopping(aria-hidden="true")
                                span.elementor-text BOOK NOW