section.maps
    .container
        .row
            .col-12
                iframe(src=hotelMap width="100%" height="450" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")