- var backgroundColor = '#EDE7D8';
- var BannerColor2 = '#5e5e5e';
- var BannerColor3 = '#212121';
- var styleColor1 = '#C04B20';
- var styleColor2 = '#FAF9F6';
- var styleColor3 = '#FFFFFF';

- var color1 = '#FFFFFF';
- var color2 = '#FAF9F6';
- var color3 = '#EDE7D8';
- var color4 = '#B08A5A';
- var color5 = '#C04B20';
- var color6 = '#5e5e5e';
- var color7 = '#212121';

doctype html
html
    head
        title Cabo Airport Transportation | Transportation For Less
        include en/_partials/header-main
        include en/_partials/scripts
    body
        include en/_partials/menu
        include en/_section/banner
        include en/_section/welcome-tfl
        include en/_section/private
        include en/_section/story
        include en/_reservations/mycabotransfers
        include en/_section/steps
        include en/_section/separator-1
        include en/_section/testimonials
        include en/_partials/footer
        include en/_partials/tails