doctype html
html
    head
        title Cabo Airport Transportation | Transportation For Less
        include en/_partials/header-main
        include en/_partials/scripts
    body
        include en/_partials/menu
        include en/_reservations/mycabotransfers
        include en/_section/story
        include en/_section/menus
        include en/_section/steps
        include en/_section/private
        include en/_section/welcome-tfl
        include en/_section/banner
        include en/_section/separator-1
        include en/_section/testimonials
        include en/_partials/footer
        include en/_partials/tails