- var color1 = '#FFFFFF';
- var color2 = '#FAF9F6';
- var color3 = '#EDE7D8';
- var color4 = '#B08A5A';
- var color5 = '#C04B20';
- var color6 = '#5e5e5e';
- var color7 = '#212121';

doctype html
html
    head
        title Cabo San Lucas Rides | Transportation For Less
        include en/_partials/header-main
        include en/_partials/scripts
    body
        include en/_partials/menu
        include en/_section/banner
        include en/_section/welcome
        include en/_section/private
        include en/_section/story
        include en/_reservations/mycabotransfers
        include en/_section/steps
        include en/_section/separator
        include en/_section/testimonials
        include en/_partials/footer

        style.
            h1.title,
            h3.title {
                font-size: calc(1.425rem + 2.1vw);
                font-weight: 700;
                margin-bottom: 3rem;
                line-height: 1.2;
            }
            h6.top-title {
                color: #{color6};
                display: inline-block;
                font-size: 0.875em;
                font-weight: 600;
                letter-spacing: 0.125rem;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
            }
            @media(min-width: 1200px) {
                h1.title,
                h3.title {
                    font-size: 3rem;
                }
            }