#step-4.row
    .col-12
        .info.info-container
            #thanks-after
                .d-block
                    h3.text-center(data-i18n="mycabotransfers.step4.text_transportation") Your transportation service is confirmed with us
                    p.text-center(data-i18n="mycabotransfers.step4.text_confirmation") Shortly You will receive your confirmation letter