#step-2.row
  form.col
    .info.info-container
      .row
        #form-container-name.col-6.position-relative
          a#button-name.book-button
            label(data-i18n="mycabotransfers.step2.label_name") Full name
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/user.svg')
              .book-text
                input#form-name(type="text" name="name")

        #form-container-phone.col-6.position-relative
          a#button-phone.book-button
            label(data-i18n="mycabotransfers.step2.label_phone") Phone
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/phone.svg')
              .book-text
                input#form-phone(type="number" name="phone")

        #form-container-email.col-12.position-relative
          a#button-email.book-button
            label(data-i18n="mycabotransfers.step2.label_email") Email
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/email.svg')
              .book-text
                input#form-email(type="text" name="email")

      #airline-wrapper.row
        #form-container-airline.col-6.position-relative
          a#button-airline.book-button.ready
            label#arrival-airline(data-i18n="mycabotransfers.step2.label_arrivalairline") Arrival airline
            label#departure-airline(data-i18n="mycabotransfers.step2.label_arrivalairline2") Departure airline
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/plane-2.svg')
              .book-text
                select#form-airline
                  option(name="arrivalairline" value="Aeromexico") Aeromexico
                  option(name="arrivalairline" value="Alaska Airlines") Alaska Airlines
                  option(name="arrivalairline" value="American Airlines") American Airlines
                  option(name="arrivalairline" value="Delta Airlines") Delta Airlines
                  option(name="arrivalairline" value="JetBlue") JetBlue
                  option(name="arrivalairline" value="Southwest") Southwest
                  option(name="arrivalairline" value="Spirit") Spirit
                  option(name="arrivalairline" value="United Airlines") United Airlines
                  option(name="arrivalairline" value="Viva Aerobus") Viva Aerobus
                  option(name="arrivalairline" value="Volaris") Volaris
                  option(name="arrivalairline" value="WestJet") WestJet

        #form-container-flight.col-6.position-relative
          a#button-flight.book-button.ready
            label#arrival-flight(data-i18n="mycabotransfers.step2.label_arrivalflight") #
            label#departure-flight(data-i18n="mycabotransfers.step2.label_arrivalflight2") #
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/plane-2.svg')
              .book-text
                input#form-flight(type="text" name="flight")

      #airline-wrapper-private.row
        #form-container-airline-private.col-6.position-relative
          a#button-airline-private.book-button.ready
            label#arrival-airline-private(data-i18n="mycabotransfers.step2.label_tailnumber") Tail Number
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/plane-2.svg')
              .book-text
                input#form-airline-private(name="private" type="text")

      #is-roundtrip.row
        #form-container-departure-airline.col-6.position-relative
          a#button-departure-airline.book-button.ready
            label(data-i18n="mycabotransfers.step2.label_departureairline") Departure airline
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/plane-2.svg')
              .book-text
                select#form-departure-airline
                  option(name="arrivalairline" value="Aeromexico") Aeromexico
                  option(name="arrivalairline" value="Air Canada") Air Canada
                  option(name="arrivalairline" value="Alaska Airlines") Alaska Airlines
                  option(name="arrivalairline" value="American Airlines") American Airlines
                  option(name="arrivalairline" value="Delta Airlines") Delta Airlines
                  option(name="arrivalairline" value="JetBlue") JetBlue
                  option(name="arrivalairline" value="Southwest") Southwest
                  option(name="arrivalairline" value="Spirit") Spirit
                  option(name="arrivalairline" value="Sun Country") Sun Country
                  option(name="arrivalairline" value="United Airlines") United Airlines
                  option(name="arrivalairline" value="Viva Aerobus") Viva Aerobus
                  option(name="arrivalairline" value="Volaris") Volaris
                  option(name="arrivalairline" value="WestJet") WestJet

        #form-container-departure-flight.col-6.position-relative
          a#button-departure-flight.book-button.ready
            label(data-i18n="mycabotransfers.step2.label_departureflight") Flight number
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/plane-2.svg')
              .book-text
                input#form-departure-flight(type="text" name="flight")

      .row
        #form-container-comments.col-6.position-relative
          a#button-comments.book-button.ready
            label(data-i18n="mycabotransfers.step2.label_comments") Comments
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/comments.svg')
              .book-text
                input#form-comments(name="comments" type="text")

        #form-container-extras-grocery.col-6.position-relative
          a.book-button.checkbox.ready
            .book-image-checkbox
              input#form-extras-grocery.form-check-input(type="checkbox", value="", name='grocery')
            .book-text-checkbox
              label.form-check-label(for="form-extras-grocery" data-i18n="mycabotransfers.step2.label_grocerystop")
                | Grocery Stop
                br
                | (30 min for 30 USD)

        #form-container-hours.col-6.position-relative
          a#button-hours.book-button.ready
            label(data-i18n="mycabotransfers.step2.label_hours") Hours
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/clock.svg')
              .book-text
                select#form-hours
                  option(name="hours" value="3 Hours") 3 Hours
                  option(name="hours" value="4 Hours") 4 Hours
                  option(name="hours" value="5 Hours") 5 Hours
                  option(name="hours" value="6 Hours") 6 Hours
                  option(name="hours" value="7 Hours") 7 Hours
                  option(name="hours" value="8 Hours") 8 Hours
                  option(name="hours" value="9 Hours") 9 Hours
                  option(name="hours" value="10 Hours") 10 Hours

        #form-container-extras-babyseat.col-6.position-relative
          a#button-babyseat.book-button.ready
            label.special(data-i18n="mycabotransfers.step2.label_babyseat") Baby Seat
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/baby-seat.svg')
              .book-text
                select#form-extras-babyseat
                  option(name="babyseat" value="0") 0
                  option(name="babyseat" value="1") 1
                  option(name="babyseat" value="2") 2
                  option(name="babyseat" value="3") 3

        #form-container-extras-boosterseat.col-6.position-relative
          a#button-boosterseat.book-button.ready
            label.special(data-i18n="mycabotransfers.step2.label_boosterseat") Car Seat
            .container-book-button
              .book-image
                img(src='/images/reservations/icons/baby-seat.svg')
              .book-text
                select#form-extras-boosterseat
                  option(name="boosterseat" value="0") 0
                  option(name="boosterseat" value="1") 1
                  option(name="boosterseat" value="2") 2
                  option(name="boosterseat" value="3") 3

      .row
        .col-sm-12
          #wrapper-submit-step-2