section#about-us
    .container
        .row
            .col-12
                h2.text-center ABOUT US
                br
            .col-sm-4
                .profile-image
                    img(src='/images/profile/francisco-magana.jpg' alt='Francisco Magaña')
            .col-sm-8
                p.margin-left-10 Get in touch our sales agents are waiting for your message
                h3 OUR MISION
                br
                p.text-left We like to bring the best sevice transportation in Los Cabos.
                p.text-left Customer Service is our bussines...
                br
                h3 VISION
                br
                p.text-left To be the number one in Los Cabos; best prices and services.
                p.text-left &quot;The Purple T-Shirt Company... &quot;
