section#cabo-information
    .container
        .purple-box
            .row
                .col-sm-12
                    h2.text-center CABO INFO
                    br
                    img(src='/images/banners/transportationforless_07.jpg' width='100%')
                    br
                    br
                    p.text-left
                        | Los Cabos is located at the tip of the Baja Peninsula and comprised primarily of two towns, San Jose del Cabo and Cabo San Lucas, that are linked by a 20-mile Corridor lined with world-class resort properties and championship golf. Cabo San Lucas, noted for its vitality and nightlife, offers a variety of attractions, including The Marina, which features 380 slips accommodating vessels up to 200 feet, along with boasting one of the highest quality of services and amenities expected at luxury yachting marinas. There is also El Arco, a natural rock formation in the shape of an arch which lies adjacent to Playa Del Amor (Lover&rsquo;s Beach) where couples can stroll hand in hand when the tide is low. In Cabo San Lucas, water enthusiasts can dive and view gardens of black coral and waterfalls of sand as they glide with the sea life under clear, warm water.
                    p.text-left
                        | San Jose del Cabo is reminiscent of an older time, where the days are longer and the mood softer. However, its attractions are just as desirable as the more upbeat Cabo San Lucas. The Old Jesuit Mission, known as Parroquia San Jos&eacute;, has a history dating back to the 1730&apos;s, and The Estero, an estuary with an endless variety of colorful birds and wildlife are just two of the town&rsquo;s many attractions.
                    br
                    p.text-left
                        | In between, the 20-mile Corridor at Land&rsquo;s End is defined by the azure blue and turquoise waters of the Sea of Cort&eacute;s, rugged cliffs, quiet coves teeming with marine life, desert vistas and mountains that all come together with a wash of colors that are unmistakably Cabo&rsquo;s. Today, other than the natural flora and fauna, its population consists of luxury hotels and resort properties, as well as a variety of premier, world-class golf courses designed by the game&rsquo;s best.
                    br
                    p.text-left
                        | Beginning just north of San Jos&eacute;, the East Cape stretches nearly a hundred miles along the Sea of Cort&eacute;s eastward and northward past Los Barriles. This beautiful stretch of desert coastline is still mostly undeveloped, however the towns of Los Barriles and Buena Vista are thriving fishing and tourist communities offering lodging, local cuisine and pangas to rent for a day casting your line in the deep. The East Cape is also the windsurfing center of Los Cabos, as well as being home to the more remote Cabo Pulmo which draws divers to the most northerly coral reef in the Pacific.
                    br
                    p.text-left
                        | At the other end of The Corridor beginning just north of Cabo San Lucas, the Pacific Coastline is developing rapidly, with electricity and other services pushing north from Los Cabos and south from Todos Santos to ensure development of several exclusive residential projects. While much of this spectacular coastline is still undeveloped, a paved highway provides easy access and sightseeing, including frequent whale sightings during their winter months of migration.
                    br
                    p.text-left
                        | Today Los Cabos is visited annually by thousands of tourists who enjoy world-class fishing, golf, water sports, spas, shopping and more. And its growing number of luxury resort properties features a level of amenities and fine dining that is attracting elite groups for meetings and conventions, not to mention a Hollywood celeb or two. But the Tip of Baja wasn&rsquo;t always that way.
                    br
                    h3 CORT&Eacute;S, CAVENDISH AND BEYOND
                    br
                    p.text-left
                        | In 1533, Hern&aacute;n Cort&eacute;s sailed to these lands after first being inspired by Garci Ordo&ntilde;ez de Montalvo&rsquo;s novel &quot;Esplandian,&rdquo; in which he gave the name &ldquo;California&rdquo; to an imaginary country. Shortly after, Spanish merchant interests established a trade route from Luzon in the Philippines to Acapulco transporting oriental silks and spices, along with Mexican gold and silver, frequenting the tip of Baja along their journey. With all of these riches aboard their ships, pirates abounded. In 1587, Thomas Cavendish, one of the more infamous, sacked the &quot;invincible&quot; Spanish galleon Santa Ana off cape San Lucas. When news of this event reached the rest of Europe, a number of &quot;Dutch Hens&quot; entered the pirate trade against the Spanish as well. Joris van Spilbergen was the most famous of the group, sailing up and down the Pacific coastline at will, then mooring his ships and resting his men in the bays and inlets of Los Cabos and La Paz when the mood struck.
                    br
                    h3 THE SEA, FLORA AND FAUNA
                    br
                    p.text-left
                        | The waters along Los Cabos&rsquo; Pacific coast are characterized by ocean swells and upwellings of deep water, and because of the ocean&rsquo;s distant weather patterns, heavy surf can arise for weeks at a time. The California Current keeps water temperatures lower than would be expected, typically between 50 and 75 degrees, gradually warming as the water moves south. Tropical storms called chubascos can bring torrential rains and heavy winds from mid-May to mid-November, peaking in August and September.
                    br
                    p.text-left
                        | Plants in the Cape region of Los Cabos consist of cacti, yuccas, and various shrubs and, at low elevations, trees like palo blanco and palo verde. Just south, many familiar desert plants like ocotillo, ironwood, creosote bush, mesquite, agave, and various cacti, including the infamous jumping cholla can be found. While this is a desert environment, there are relatively well-watered areas that support distinctly non-desert vegetation, especially in the mountains where forests of pine, cedar, fir, aspen, and oak can be found. Encounters with coyotes and roadrunners are common here, as well as the not-so-common sightings of mule deer, mountain lion, bighorn sheep, antelope, and smaller animals such as fox, rabbit, bobcat, skunk, badger, raccoon, and a host of others.
                    br
                    p.text-left
                        | Many reptile species also inhabit Los Cabos&rsquo; desert surroundings, including various species of rattlesnake and whiptail, king, and gopher snakes, and numerous iguanids, geckos, and lizards. And with an abundance of deserts, bays, mangrove lagoons, and forested peaks, a diverse mixture of bird life exists.
                    br
                    p.text-left
                        | From an astronaut&rsquo;s perspective, the Tip of Baja is one of the most striking geological features on earth, even though its mountains are not exceptionally tall. A series of mountain ranges runs south along Baja Sur to the vicinity just north of Los Cabos. Here are found two rugged mountain ranges, the Sierra de la Victoria and the Sierra de la Laguna. And just to the south of those, Los Cabos, a tale of two cities.
