section#contact-us
    .container
        .purple-box
            .row
                .col-12
                    h2.text-center CONTACT US
                .col-sm-6
                    h4 TO GET THERE
                    br
                    br
                    iframe(width='100%' height='400' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://www.google.com.mx/maps/ms?hl=en&msid=216246432544086268596.000502aaa5c69dc695582&msa=0&ie=UTF8&t=m&ll=23.123943,-109.714966&spn=0.047361,0.138874&z=13&output=embed')
                .col-sm-6.border-left
                    h4 E-MAIL
                    a.margin-left-30(href='mailto:transportationforless@gmail.com')
                        i.fa-solid.fa-envelope
                        |  info@transportationforless.com
                    h4.margin-top-10 WHATSAPP
                    a.margin-left-30(href='https://wa.me/526241085583' target='_blank')
                        i.fa-brands.fa-whatsapp
                        |  +52 1 (624) 108 5583
                    h4.margin-top-10 PHONE
                    a.margin-left-30(href='tel:526241462148')
                        i.fa-solid.fa-mobile
                        |  +52 1 (624) 146 2148
                    h4.margin-top-10 ADDRESS
                    p.margin-left-30.margin-top-10 C. Jos&eacute; Mar&iacute;a Chavez MZA 13 LTE 2
                    p.margin-left-30 Col. Zacatal Zona Norte
                    p.margin-left-30 San Jos&eacute; del Cabo CP 23437
                    p.margin-left-30 Baja California Sur