section#our-services
    .container
        .purple-box
            .row
                .col-sm-12
                    h2.text-center OUR SERVICES
                    br
                    img(src='/images/banners/transportationforless_03.jpg' width='100%')
                    br
                    br
                    h3.text-left GROUND TRANSPORTATION VIP SERVICES
                    p.text-left
                        | All our services are an excellent service experience, as the filmmakers turned to the absolute satisfaction of our customers. See our selection in the booking area.
                    br
                    h3.text-left TRANSPORTATION SERVICES FOR DINNER
                    p.text-left
                        | Our service includes transportation from hotel to restaurant and back with a covered service time of 4 hours. Cost per additional hour $60.00 USD.
                    br
                    h3.text-left TRANSPORTATION SERVICES FOR ACTIVITIES
                    p.text-left
                        | Our service includes transportation from hotel to activities and back with a covered service time of 4 hours. Cost per additional hour $60.00 USD.
                    br
                    h3.text-left TRANSPORTATION SERVICES FOR NIGHTLIFE
                    p.text-left
                        | Our services include transportation from hotel to night club and back with a covered services time of 6 hours.
