section#separator-1
    .container
        .row
            .col-12.col-sm-6.col-md-3(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="300")
                img.separator-1(src='/images/photos/01.png', width='100%')
            .col-12.col-sm-6.col-md-3(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="600")
                img.separator-2(src='/images/photos/02.png', width='100%')
            .col-12.col-sm-6.col-md-3(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="900")
                img.separator-3(src='/images/photos/03.png', width='100%')
            .col-12.col-sm-6.col-md-3(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="1200")
                img.separator-4(src='/images/photos/04.png', width='100%')