section.section.section-xl.bg-default
    .container
        h3.wow.fadeInLeft Lo Que Dicen Nuestros Clientes
    .container.container-style-1
        .owl-carousel.owl-style-12.owl-loaded.owl-drag(data-items='1' data-sm-items='2' data-lg-items='3' data-margin='30' data-xl-margin='45' data-autoplay='true' data-nav='true' data-center='true' data-smart-speed='400' style='')
            .owl-stage-outer
                .owl-stage(style='transition: 0.4s; width: 4050px; transform: translate3d(-810px, 0px, 0px);')
                    .owl-item.cloned(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Food was delicious. We had the Caesar salad and balsamic salad. So good ! Then we had a pizza and the lasagna which came with the house salad. All salads were very good. The lasagna was great and rich. We had to take food home! The restaurant is owned by a mother and daughter and it&rsquo;s in the garden of the mom&rsquo;s house. Great food, great people and unique concept! We will be back!
                                .quote-tara-figure
                                    img(src='/images/avatars/kayla-gravelle.png' alt='' width='115' height='115')
                            h6.quote-tara-author Kayla Gravelle
                            .quote-tara-status Cliente
                    .owl-item.cloned(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Charming little family owned courtyard restaurant serving pasta, pizza and steak. The atmosphere is cute and cozy! We started with the bruschetta which was caprese style and delicious! My husband enjoyed the lasagna and I had a medium rare steak that was cooked perfectly, followed by an after dinner sangria and delicious flan for dessert! All homemade by a mother and daughter co-owner duo! Although we didn&rsquo;t try the pizza, we overheard a group sitting next to us say it was one of the best pizzas they&rsquo;ve ever had! Highly recommend this little unexpected gem!
                                .quote-tara-figure
                                    img(src='/images/avatars/melissa-scharpf.png' alt='' width='115' height='115')
                            h6.quote-tara-author Melissa Scharpf
                            .quote-tara-status Cliente
                    .owl-item.cloned.active(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Un excelente lugar, muy amables, limpio y la comida super rica, ampliamente recomendable, de lo mejor en Los Cabos!
                                .quote-tara-figure
                                    img(src='/images/avatars/gustavo-alvarez.png' alt='' width='115' height='115')
                            h6.quote-tara-author Gustavo Alvarez
                            .quote-tara-status Cliente
                    .owl-item.active.center(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Excelente lugar para degustar cortes y ensaladas con la receta original, deliciosas pizzas y bebidas
                                .quote-tara-figure
                                    img(src='/images/avatars/ivan-talamante.png' alt='' width='115' height='115')
                            h6.quote-tara-author Ivan Talamante
                            .quote-tara-status Cliente
                    .owl-item.active(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Food was delicious. We had the Caesar salad and balsamic salad. So good ! Then we had a pizza and the lasagna which came with the house salad. All salads were very good. The lasagna was great and rich. We had to take food home! The restaurant is owned by a mother and daughter and it&rsquo;s in the garden of the mom&rsquo;s house. Great food, great people and unique concept! We will be back!
                                .quote-tara-figure
                                    img(src='/images/avatars/kayla-gravelle.png' alt='' width='115' height='115')
                            h6.quote-tara-author Kayla Gravelle
                            .quote-tara-status Cliente
                    .owl-item(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Charming little family owned courtyard restaurant serving pasta, pizza and steak. The atmosphere is cute and cozy! We started with the bruschetta which was caprese style and delicious! My husband enjoyed the lasagna and I had a medium rare steak that was cooked perfectly, followed by an after dinner sangria and delicious flan for dessert! All homemade by a mother and daughter co-owner duo! Although we didn&rsquo;t try the pizza, we overheard a group sitting next to us say it was one of the best pizzas they&rsquo;ve ever had! Highly recommend this little unexpected gem!
                                .quote-tara-figure
                                    img(src='/images/avatars/melissa-scharpf.png' alt='' width='115' height='115')
                            h6.quote-tara-author Melissa Scharpf
                            .quote-tara-status Cliente
                    .owl-item(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Un excelente lugar, muy amables, limpio y la comida super rica, ampliamente recomendable, de lo mejor en Los Cabos!
                                .quote-tara-figure
                                    img(src='/images/avatars/gustavo-alvarez.png' alt='' width='115' height='115')
                            h6.quote-tara-author Gustavo Alvarez
                            .quote-tara-status Cliente
                    .owl-item.cloned(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Excelente lugar para degustar cortes y ensaladas con la receta original, deliciosas pizzas y bebidas
                                .quote-tara-figure
                                    img(src='/images/avatars/ivan-talamante.png' alt='' width='115' height='115')
                            h6.quote-tara-author Ivan Talamante
                            .quote-tara-status Cliente
                    .owl-item.cloned(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Food was delicious. We had the Caesar salad and balsamic salad. So good ! Then we had a pizza and the lasagna which came with the house salad. All salads were very good. The lasagna was great and rich. We had to take food home! The restaurant is owned by a mother and daughter and it&rsquo;s in the garden of the mom&rsquo;s house. Great food, great people and unique concept! We will be back!
                                .quote-tara-figure
                                    img(src='/images/avatars/kayla-gravelle.png' alt='' width='115' height='115')
                            h6.quote-tara-author Kayla Gravelle
                            .quote-tara-status Cliente
                    .owl-item.cloned(style='width: 360px; margin-right: 45px;')
                        article.quote-tara
                            .quote-tara-caption
                                .quote-tara-text
                                    p.q
                                        | Charming little family owned courtyard restaurant serving pasta, pizza and steak. The atmosphere is cute and cozy! We started with the bruschetta which was caprese style and delicious! My husband enjoyed the lasagna and I had a medium rare steak that was cooked perfectly, followed by an after dinner sangria and delicious flan for dessert! All homemade by a mother and daughter co-owner duo! Although we didn&rsquo;t try the pizza, we overheard a group sitting next to us say it was one of the best pizzas they&rsquo;ve ever had! Highly recommend this little unexpected gem!
                                .quote-tara-figure
                                    img(src='/images/avatars/melissa-scharpf.png' alt='' width='115' height='115')
                            h6.quote-tara-author Melissa Scharpf
                            .quote-tara-status Cliente
            .owl-nav
                button.owl-prev(type='button' role='presentation')
                button.owl-next(type='button' role='presentation')
            .owl-dots.disabled
