section#testimonials.version-4
    #carouselExample.carousel.slide(data-bs-ride='carousel' data-bs-interval="3000")
        .carousel-inner
            .container
                .carousel-item.active
                    .testimonial-rectangle
                        p.text-center
                            | Our family of six had an outstanding experience with the transportation service from Cabo San Lucas Airport to Hotel Corazon. The driver was punctual, courteous, and professional, making us feel welcome right from the start. The vehicle was spacious, clean, and comfortable—perfect for a large family with luggage. The ride was smooth, and we appreciated the attention to detail and excellent communication throughout. Highly recommend this service for anyone looking for reliable and stress-free airport transfers in Cabo!
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://www.google.com/maps/reviews/@29.4219451,-98.4907106,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSUNKXzVfYmJnEAE!2m1!1s0x0:0x182efccca11644e3', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/stefanie-bustos.png' width='60' height='60')
                        p.text-center
                            strong Stefanie Bustos

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | Nothing but positive review for transportation for less. They not only picked us up from the airport at arrival, but they also dropped off for departure. Both rides were exceptional. The staff are very pleasant And respectful.
                        p.text-center
                            | We also booked the day excursion for five ladies to La Paz and Todos Santos, and in between stops at beaches. Carlos was great as a driver, as well as a guide, thank you for Being patient with five women.
                        p.text-center
                            | When I am in Cabo again, I will definitely use transportation for less. Thank you, Francisco for being in contact through emails and text messages. Sometimes you don’t know what you’re going to get when hiring transportation through the Internet, This was a good pick!
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://www.google.com/maps/reviews/@29.4219451,-98.4907106,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSUNKXzVfYmJnEAE!2m1!1s0x0:0x182efccca11644e3', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/l-romero.png' width='60' height='60')
                        p.text-center
                            strong L Romero

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | Great experience riding with transportation for less. The driver was on time to pick us and drop us off. Drivers were friendly and professional. The suv was clean. Price was better compared to other ride services. Highly recommend. Will be using in the future.
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://www.google.com/maps/reviews/@29.4219451,-98.4907106,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSUNKXzVfYmJnEAE!2m1!1s0x0:0x182efccca11644e3', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/tou-her.png' width='60' height='60')
                        p.text-center
                            strong Tou Her

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | I have used Transportation for Less, 3 round trips from the airport to San Jose del Cabo. We love this company! They are very reliable, and oh so friendly!! It is always a lovely ride to and from the airport.
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://www.google.com/maps/reviews/@29.4219451,-98.4907106,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSUN1aU5yV0ZREAE!2m1!1s0x0:0x182efccca11644e3', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/kimra-smith.png' width='60' height='60')
                        p.text-center
                            strong Kimra Smith

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | I recently used this service to the airport and then back to my home when I returned.  They arrived on time to pick me up both ways.  The SUV's were very clean and had cold water available.  I highly recommend them.
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://www.google.com/maps/reviews/@29.4219451,-98.4907106,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSUN1NkxUVmRBEAE!2m1!1s0x0:0x182efccca11644e3', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/marsha-flores.png' width='60' height='60')
                        p.text-center
                            strong Marsha Flores

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | I have used this company for over 6 years now. They have never let me down. Always on time and communicate throughout the entire process. They are always kind, cars clean and bring a cooler for you :) Definitely recommend.
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://www.google.com/maps/reviews/@29.4219451,-98.4907106,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSUNKXzVfYmJnEAE!2m1!1s0x0:0x182efccca11644e3', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/amada-jaeckel.png' width='60' height='60')
                        p.text-center
                            strong Amada Jaeckel

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | Never let us down. Always on time and make the ride very enjoyable. Nice to have a water or beer on route to the hotel. Highly recommend.
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://g.page/r/CeNFFsHMTu-XEB0/review', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/paul-walker.png' width='60' height='60')
                        p.text-center
                            strong Paul Walker

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | Professional & friendly service & excellent pricing. Had 3 transports & all vehicles were very clean & comfortable. Will absolutely use this service for future
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://g.page/r/CeNFFsHMTu-XEB0/review', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/kelly-bright.png' width='60' height='60')
                        p.text-center
                            strong Kelly Bright

                .carousel-item
                    .testimonial-rectangle
                        p.text-center
                            | We visited La Cabos for the July 4th weekend. As in the past we hired Transportation for Less for round trip service to and from our hotel. We have hired them several times in the past and we can always count on top notch service. They were easy to spot as we came out of the airport and walked us to our SUV ride. On the return they arrived on time at our hotel and got us to our terminal with plenty of time. They are a very reliable company and we would highly recommend them to anyone needing transportation while in Cabo.
                        .align-items-center.d-inline-flex.justify-content-center.w-100
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                            img(src='/images/icons/stars.svg', height='20px')
                        br
                        br
                        .text-center
                            a(href='https://g.page/r/CeNFFsHMTu-XEB0/review', target='_blank')
                                img(src='/images/icons/social-media/google-color.svg', height="24px")
                        .text-center.mt-4.mb-4
                            img.rounded-circle.img-fluid.shadow-1-strong(src='/images/avatars/robert-montanez.png' width='60' height='60')
                        p.text-center
                            strong Robert Montanez


        button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
