section#welcome
    .container
        .row
            .col-12
                h6.top-title CABO SAN LUCAS RIDES
                h1.title
                    | Private Transportation to Cabo San Lucas
        .row
            .col-12
                p Welcome to your trusted private transportation service in Cabo San Lucas. Since 2021, we have been dedicated to providing safe, reliable, and comfortable airport transfers tailored to your travel needs. Whether you’re arriving for a relaxing vacation or a business trip, our goal is to make your journey from the airport to your hotel smooth and stress-free.
                p We specialize in private transportation from Los Cabos International Airport to any hotel or destination across Cabo San Lucas, San José del Cabo, and the Tourist Corridor. Our professional drivers, modern vehicles, and personalized service ensure that you travel with peace of mind from the moment you land.
                p At our company, punctuality, safety, and customer satisfaction are our top priorities. We take pride in offering a seamless experience, allowing you to focus on enjoying everything Los Cabos has to offer.
                p Book your ride with us today and start your stay in Cabo the right way—comfortable, convenient, and worry-free.

style.
    section#welcome { background-color: #{color3}; padding-top: 3rem !important; padding-bottom: 3rem!important; position: relative; }
    section#welcome p { text-align: justify; }