section#welcome
    .container
        .row
            .col-12
                p
                    | Welcome to
                    |
                    strong Transportation for Less!
                    |  We are a dedicated transportation company based in San José del Cabo, and our mission is simple: to provide you with safe, reliable, and affordable transportation throughout Los Cabos.
                p At Transportation for Less, we take pride in offering a smooth and hassle-free experience from the moment you book with us. Whether you need airport transfers, private rides, or group transportation, we are here to make your journey comfortable and stress-free.
                p We believe that great service makes all the difference. That’s why we focus on punctuality, well-maintained vehicles, and professional, friendly drivers who are committed to making your trip enjoyable. Every ride with us is an opportunity to show our dedication to quality and customer satisfaction.
                p Let us take care of your transportation needs while you relax and enjoy everything Los Cabos has to offer.